numpy~=1.22.4
pandas~=1.4.2
pytest~=7.1.2

matplotlib~=3.5.2
gym~=0.21.0
tianshou~=0.4.8
scipy~=1.8.1
requests~=2.27.1
seaborn~=0.11.2
networkx~=2.8
python-dateutil~=2.8.2
setuptools~=62.3.2
tensorboardx~=2.5